body {
margin: 0;
padding: 0;
font-family: "Helvetica Neue", "Arial";
}

.intro {
    width: 100%;
    height: 100vh;
    background-image: url("header-background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
}
.singleHeadline {
    font-size: 70px;
    color: orange;
    font-weight: 800;
    text-shadow: 0 2px 4px (rgba: 0,0,0,0.5);
}
.navbar-container {
    position: fixed;
    top: 20px;
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
}
.navbar-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
}
.menuItem {
    margin: 0 10px; /*Kurzform für 0 10px 0 10px*/
    font-family: "Helvetica Neue", "Arial";
    font-size: 14px;
    color: black;
    font-weight: 200;
    letter-spacing: 1px;
    text-decoration: none;
}
.menuItem:hover {
    text-decoration: underline;
}
.textcontainer p {
    line-height: 1.5;
    max-width: 650px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}